<template>
  <card class="card" title="Konfiguracja">
    <div>
      <form @submit.prevent>

        <div class="row">
          <div class="col-md-12">
            <fg-input type="text"
                      label="Nazwa urządzenia"
                      :disabled="true"
                      placeholder="gsm-monitor-1"
                      v-model="device.name">
            </fg-input>
          </div>
        </div>

        <h5>Lokalizacja</h5>
        <p class="control-label" style="font-size: small">Testowany moduł nie obsługuje funkcji automatycznej lokalizacji - współrzędne nalezy wprowadzić ręcznie</p>

        <div class="row">
          <div class="col-md-6">
            <fg-input type="text"
                      label="Latitude"
                      placeholder="latitude"
                      v-model="device.lat">
            </fg-input>
          </div>
          <div class="col-md-6">
            <fg-input type="text"
                      label="Longitude"
                      placeholder="longitude"
                      v-model="device.lon">
            </fg-input>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <fg-input type="text"
                      label="Lokalizacja"
                      placeholder="opis lub adres lokalizacji"
                      v-model="device.location_descr">
            </fg-input>
          </div>
        </div>

        <h5>Powiadomienia e-mail / SMS</h5>

        <div class="row">
          <div class="col-md-5">
            <div><p class="control-label">Włącz powiadomienia e-mail:</p></div>
            <center>
            <input type="checkbox"
                v-model="device.alert_email_active" 
                v-bind:id="device.alert_email_active"
            >
            </center>
          </div>
          <div class="col-md-7">
            <fg-input type="text"
                      label="Adres do otrzymywania powiadomień e-mail:"
                      placeholder="name@mail.com"
                      v-model="device.alert_email_rcp">
            </fg-input>
          </div>
        </div>


        <div class="row">
          <div class="col-md-5">
            <div><p class="control-label">Włącz powiadomienia SMS:</p></div>
            <center>
            <input type="checkbox"
                :disabled="true"
                v-model="device.alert_sms_active" 
                v-bind:id="device.alert_sms_active"
            >
            </center>
          </div>
          <div class="col-md-7">
            <fg-input type="text"
                      :disabled="true"
                      label="Numer do otrzymywania powiadomień SMS:"
                      placeholder="+48 555 123 123"
                      v-model="device.alert_sms_rcp">
            </fg-input>
          </div>
        </div>
        <div class="row">
          <div class="col-md-9">
          <p class="control-label" style="font-size: small">SMS w prototypie wyłączone, mozliwe włączenie produkcyjnie</p>
          </div>
        </div>

        <!-- <div class="row">
          <div class="col-md-5">
            <fg-input type="text"
                      label="Company"
                      :disabled="true"
                      placeholder="Paper dashboard"
                      v-model="user.company">
            </fg-input>
          </div>
          <div class="col-md-3">

            <fg-input type="text"
                      label="Username"
                      placeholder="Username"
                      v-model="user.username">
            </fg-input>
          </div>
          <div class="col-md-4">
            <fg-input type="email"
                      label="Username"
                      placeholder="Email"
                      v-model="user.email">
            </fg-input>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <fg-input type="text"
                      label="First Name"
                      placeholder="First Name"
                      v-model="user.firstName">
            </fg-input>
          </div>
          <div class="col-md-6">
            <fg-input type="text"
                      label="Last Name"
                      placeholder="Last Name"
                      v-model="user.lastName">
            </fg-input>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <fg-input type="text"
                      label="Address"
                      placeholder="Home Address"
                      v-model="user.address">
            </fg-input>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <fg-input type="text"
                      label="City"
                      placeholder="City"
                      v-model="user.city">
            </fg-input>
          </div>
          <div class="col-md-4">
            <fg-input type="text"
                      label="Country"
                      placeholder="Country"
                      v-model="user.country">
            </fg-input>
          </div>
          <div class="col-md-4">
            <fg-input type="number"
                      label="Postal Code"
                      placeholder="ZIP Code"
                      v-model="user.postalCode">
            </fg-input>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label>About Me</label>
              <textarea rows="5" class="form-control border-input"
                        placeholder="Here can be your description"
                        v-model="user.aboutMe">

              </textarea>
            </div>
          </div>
        </div> -->
        <div class="text-center">
          <p-button type="info"
                    round
                    @click.native.prevent="updateProfile">
            Zapisz!
          </p-button>
        </div>
        <div class="clearfix"></div>
      </form>
    </div>
  </card>
</template>
<script>
import CellList from '../CellList.vue';
export default {
  components: { CellList },
  data() {
    return {
      device: {
        name: "gsm-monitor-1",
        location: "",
        lat: "",
        lon: "",
        alert_email_active: 0,
        alert_sms_active: 0,
        alert_email_rcp: "",
        alert_sms_rcp: "",
        location_descr: ""
      },
      user: {
        company: "Paper Dashboard",
        username: "michael23",
        email: "",
        firstName: "Chet",
        lastName: "Faker",
        address: "Melbourne, Australia",
        city: "Melbourne",
        postalCode: "",
        aboutMe: `We must accept finite disappointment, but hold on to infinite hope.`
      }
    };
  },
  mounted() {
    console.log("Dashboard mounted");
    
    this.loadData();
    
  },
  methods: {
    loadData: function () {
      //console.log("loading data..");

      var data0URL = 'http://192.168.1.155:5000/getConfig';
      fetch(data0URL).then(response => response.json())
        .then((data) => {
          //console.log(data[0]["device_lat"]);
          //console.log(data[0]["device_lon"]);
          this.device["name"] = data[0]["device_name"];
          this.device["lat"] = data[0]["device_lat"];
          this.device["lon"] = data[0]["device_lon"];
          this.device["alert_email_active"] = data[0]["alert_mail_active"];
          this.device["alert_email_rcp"] = data[0]["alert_recipient_mail"];
          this.device["alert_sms_active"] = data[0]["alert_recipient_sms"];
          this.device["alert_sms_rcp"] = data[0]["alert_sms_active"];
          this.device["location_descr"] = data[0]["location_descr"];
          
          }
        );
    },
    updateProfile() {
      var alert_mail_active;
      if (this.device["alert_email_active"] == false) { alert_mail_active = 0 } 
      else if (this.device["alert_email_active"] == true) { alert_mail_active = 1 };

      var alert_sms_active;
      if (this.device["alert_sms_active"] == false) { alert_sms_active = 0 } 
      else if (this.device["alert_sms_active"] == true) { alert_sms_active = 1 };

      var data0URL = "http://192.168.1.155:5000/updateConfig?"
        + "lat=" + this.device["lat"]
        + "&lon=" + this.device["lon"]
        + "&alert_email_active=" + alert_mail_active
        + "&alert_email_rcp=" + this.device["alert_email_rcp"]
        + "&alert_sms_active=" + alert_sms_active
        + "&alert_sms_rcp=" + this.device["alert_sms_rcp"]
        + "&location_descr=" + this.device["location_descr"]
      ;
      fetch(data0URL).then(response => response.json())
        .then(data => {
          console.log(data);
          if (data.status == "ok") {
            alert("Zapisane")
          }
        });
    }
  }
};
</script>
<style>
</style>
