<template>
  <card class="card-user">
    <div slot="image">
      <img src="@/assets/img/raspberry-pi-zero.jpg" alt="...">
    </div>
    <div>
      <div class="author">
        <img class="avatar border-white" src="@/assets/img/faces/sim800c.jpg" alt="...">
        <h4 class="title">GSM monitor
          <br>
          <a>
            <small>v. 0.1</small>
          </a>
        </h4>
      </div>
      <p class="description text-center">
        Prototyp projektu
        <br> monitorowania sieci GSM
        <br> w otoczeniu urządzenia
      </p>
    </div>
    <hr>
    <div class="text-center">
      <div class="row">
        <div v-for="(info, index) in details" :key="index" :class="getClasses(index)">
          <h5>{{info.title}}
            <br>
            <small>{{info.subTitle}}</small>
          </h5>
        </div>
      </div>
    </div>
  </card>
</template>
<script>
export default {
  data() {
    return {
      details: [
        {
          title: "Komponenty:",
          subTitle: "Raspberry Pi, moduł GSM SIM800C (GSM 2G)"
        },
        {
          title: "Software:",
          subTitle: "Python serial, komunikacja przez polecenia AT, API panel: Flask"
        }
      ]
    };
  },
  methods: {
    getClasses(index) {
      var remainder = index % 3;
      if (remainder === 0) {
        return "col-lg-5 offset-lg-1";
      } else if (remainder === 2) {
        return "col-lg-5";
      } else {
        return "col-lg-5";
      }
    }
  }
};
</script>
<style>
</style>
