<template>
    <div class="row">
      <!-- <div class="col-12">
        <card :title="table1.title" :subTitle="table1.subTitle">
          <div slot="raw-content" class="table-responsive">
            <paper-table :data="table1.data" :columns="table1.columns">

            </paper-table>
          </div>
        </card>
      </div> -->

      <div class="col-12">
        <card :title="table2.title" :subTitle="table2.subTitle" class="card-plain">
          <div class="table-full-width table-responsive">
            <paper-table type="hover" :title="table2.title" :sub-title="table2.subTitle" :data="table2.data"
                         :columns="table2.columns">

            </paper-table>
          </div>
        </card>
      </div>

<div class="col-12">
  <h2>Oznaczenia</h2>
<p><b>MCC</b> Mobile country code.</p>
<p><b>MNC</b> Mobile network code.</p>
<p><b>Rxlev</b> Recieve level, in decimal format.</p>
<p><b>CellID</b> Cell identifier, in hexadecimal format.</p>
<p><b>Arfcn</b> Absolute radio frequency channel number, in decimal format.</p>
<p><b>Lac</b> Location area code, in hexadecimal format.</p>
<p><b>Bsic</b> Base station identity code, in hexadecimal format.</p>
</div>

    </div>
</template>
<script>
import { PaperTable } from "@/components";
const tableColumns = ["MCC", "MNC", "country", "country_code", "iso", "network"];
const tableData = [
  // {
  //   country: "Poland", 
  //   country_code: 48, 
  //   iso: "pl", 
  //   mcc: 260, 
  //   mnc: 7, 
  //   network: "Play/P4"
  // }, 
  // {
  //   country: "Poland", 
  //   country_code: 48, 
  //   iso: "pl", 
  //   mcc: 260, 
  //   mnc: 5, 
  //   network: "Orange/IDEA/Centertel"
  // },
  // {
  //   country: "Poland", 
  //   country_code: 48, 
  //   iso: "pl", 
  //   mcc: 260, 
  //   mnc: 1, 
  //   network: "Polkomtel/Plus"
  // },
];


export default {
  components: {
    PaperTable
  },
  data() {
    return {
      table1: {
        title: "Table 1",
        subTitle: "Here is a subtitle for this table",
        columns: [...tableColumns],
        data: [...tableData]
      },
      table2: {
        title: "Operatorzy GSM na świecie - nazwy i kody identyfikujące",
        subTitle: "",
        columns: [...tableColumns],
        data: [...tableData]
      },
      totalCellsCount: 0
    };
  },
  methods: {
    loadData: function () {
      console.log("loading data..");
      var dataURL = 'http://192.168.1.155:5000/getAllCarriersFromDB';
      fetch(dataURL).then(response => response.json())
        .then((data) => {
          for (const i in data){
            data[i].date = new Date(data[i].timestamp*1000).toGMTString();
          }
          //console.log(data);
          this.table2.data = data;
          this.totalCellsCount = data.length;
          this.table2.subTitle = "Liczba rekordów: " + this.totalCellsCount + ". Dane pochodzą z otwartej bazy https://www.mcc-mnc.com/"
          }
        );
      }
  },
  mounted() { // when the Vue app is booted up, this is run automatically.
    this.loadData();

    //// reload every 10 sec:
    // setInterval(function () {
    //   this.loadData();
    // }.bind(this), 10000); 
  }
};
</script>
<style>
</style>
