<template>
  <div>

    <!--Stats cards-->
    <div class="row">
      <div class="col-md-6 col-xl-3" v-for="stats in statsCards" :key="stats.title">
        <stats-card>
          <div class="icon-big text-center" :class="`icon-${stats.type}`" slot="header">
            <i :class="stats.icon"></i>
          </div>
          <div class="numbers" slot="content">
            <p>{{stats.title}}</p>
            {{stats.value}}
          </div>
          <div class="stats" slot="footer">
            <i :class="stats.footerIcon"></i> {{stats.footerText}}
          </div>
        </stats-card>
      </div>
    </div>

    <!--Charts-->
    <div class="row">

      <div class="col-12"> 
        <card class="card-map" :title="mapCard_title">
          <div id="l-map" style="height: 300px;"></div>
        </card>
      </div>

      <div class="col-md-6 col-12">
        <chart-card title="Statystyki operatorów GSM w okolicy urządzenia"
                    sub-title="Operatorzy GSM pobliskich stacji BTS"
                    :chart-data="preferencesChart.data"
                    chart-type="Pie"
                    :key="refresh">
          <span slot="footer">
            <i class="ti-timer"></i> Aktualizacja: teraz</span>
          <div slot="legend">
            <!-- <i class="fa fa-circle text-info"></i> Foo
            <i class="fa fa-circle text-danger"></i> Bar
            <i class="fa fa-circle text-warning"></i> Waz -->
          </div>
        </chart-card>
      </div>

      <!-- <div class="col-12">
        <chart-card title="Users behavior"
                    sub-title="24 Hours performance"
                    :chart-data="usersChart.data"
                    :chart-options="usersChart.options">
          <span slot="footer">
            <i class="ti-reload"></i> Updated 3 minutes ago
          </span>
          <div slot="legend">
            <i class="fa fa-circle text-info"></i> Open
            <i class="fa fa-circle text-danger"></i> Click
            <i class="fa fa-circle text-warning"></i> Click Second Time
          </div>
        </chart-card>
      </div>

      <div class="col-md-6 col-12">
        <chart-card title="Email Statistics"
                    sub-title="Last campaign performance"
                    :chart-data="preferencesChart.data"
                    chart-type="Pie">
          <span slot="footer">
            <i class="ti-timer"></i> Campaign set 2 days ago</span>
          <div slot="legend">
            <i class="fa fa-circle text-info"></i> Open
            <i class="fa fa-circle text-danger"></i> Bounce
            <i class="fa fa-circle text-warning"></i> Unsubscribe
          </div>
        </chart-card>
      </div>

      <div class="col-md-6 col-12">
        <chart-card title="2015 Sales"
                    sub-title="All products including Taxes"
                    :chart-data="activityChart.data"
                    :chart-options="activityChart.options">
          <span slot="footer">
            <i class="ti-check"></i> Data information certified
          </span>
          <div slot="legend">
            <i class="fa fa-circle text-info"></i> Tesla Model S
            <i class="fa fa-circle text-warning"></i> BMW 5 Series
          </div>
        </chart-card>
      </div> -->

    </div>

  </div>
</template>
<script>
import { StatsCard, ChartCard } from "@/components/index";
import Chartist from 'chartist';
export default {
  components: {
    StatsCard,
    ChartCard
  },
  /**
   * Chart data used to render stats, charts. Should be replaced with server data
   */
  mounted() {
    console.log("Dashboard mounted");
    
    this.loadData();
    this.loadMap();

  },
  methods: {
    loadData: function () {
      console.log("loading data..");

      var data0URL = 'http://192.168.1.155:5000/getConfig';
      fetch(data0URL).then(response => response.json())
        .then((data) => {
          //console.log(data[0]["device_lat"]);
          //console.log(data[0]["device_lon"]);
          this.device_params["name"] = data[0]["device_name"];
          this.mapCard_title += ": " + data[0]["device_name"]
          this.device_params["lat"] = data[0]["device_lat"];
          this.device_params["lon"] = data[0]["device_lon"];
          this.device_params["alerts_active"] = data[0]["alert_mail_active"] == 1 ? "aktywne" : "nieaktywne";
          this.statsCards[3].value = this.device_params["alerts_active"];

          this.refresh++;

          this.reloadMapView()
          
          }
        );

      var dataURL = 'http://192.168.1.155:5000/getCellListCount';
      fetch(dataURL).then(response => response.json())
        .then((data) => {
          //console.log(data);
          this.statsCards[0].value = data[0]['COUNT(id)'];
          }
        );
      var data2URL = 'http://192.168.1.155:5000/getAllCarriersCount';
      fetch(data2URL).then(response => response.json())
        .then((data) => {
          //console.log(data);
          this.statsCards[1].value = data[0]['COUNT(*)'];
          }
        );

      var data3URL = 'http://192.168.1.155:5000/getStats';
      fetch(data3URL).then(response => response.json())
        .then((data) => {
          //console.log(data[0]["system_starttime"]);
          //console.log(Date.now()/1000);
          var totalTime = Date.now()/1000 - data[0]["system_starttime"];
          this.statsCards[2].value = Math.floor(totalTime/60/60) + " h";
          }
        );

      var data4URL = 'http://192.168.1.155:5000/getOperatorsStats';
      fetch(data4URL).then(response => response.json())
        .then((data) => {
          var sum = 0;
          for (const i in data) {
            sum += data[i]["count(network)"];
          }

          for (const i in data) {
            //console.log(data[i]["count(network)"], data[i]["network"]);
            this.preferencesChart.data.labels.push(data[i]["network"]);
            this.preferencesChart.data.series.push( parseInt((data[i]["count(network)"]/sum * 100).toFixed(0)) );  
          }

          this.refresh++;
          
          }
        );
    },
    loadMap: function () {
      this.lmap = L.map('l-map').setView([this.device_params["lat"], this.device_params["lon"]], 13);

      L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', {
        maxZoom: 18,
        attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, ' +
          'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
        id: 'mapbox/streets-v11',
        tileSize: 512,
        zoomOffset: -1
      }).addTo(this.lmap);
    },
    reloadMapView: function() {
      //console.log("reload map view");
      this.lmap.setView([this.device_params["lat"], this.device_params["lon"]], 13);

      this.mapMarker = L.marker([this.device_params["lat"], this.device_params["lon"]]).addTo(this.lmap)
        .bindPopup("<center><b>Lokalizacja urządzenia</b><br />gsm-monitor-1</center>").openPopup();

    }
  },
  data() {
    return {
      refresh: 0,
      device_params: {
        "name": "",
        "lat": 0,
        "lon": 0,
        "alerts_active": "-",
      },
      mapCard_title : "Lokalizacja urządzenia",
      statsCards: [
        {
          type: "warning",
          icon: "ti-signal",
          title: "Pobliskie stacje GSM",
          value: "0",
          footerText: "Aktualizacja: teraz",
          footerIcon: "ti-reload"
        },
        {
          type: "success",
          icon: "ti-world",
          title: "Operatorzy GSM w bazie",
          value: "0",
          footerText: "Aktualizacja: 01/07/2021",
          footerIcon: "ti-calendar"
        },
        {
          type: "danger",
          icon: "ti-pulse",
          title: "System tutaj pracuje od",
          value: "- h",
          footerText: "Aktualizacja: godzina temu",
          footerIcon: "ti-timer"
        },
        {
          type: "info",
          icon: "ti-mobile",
          title: "Alerty mailowe & SMS",
          value: "-",
          footerText: "Aktualizacja: teraz",
          footerIcon: "ti-reload"
        }
      ],
      usersChart: {
        data: {
          labels: [
            "9:00AM",
            "12:00AM",
            "3:00PM",
            "6:00PM",
            "9:00PM",
            "12:00PM",
            "3:00AM",
            "6:00AM"
          ],
          series: [
            [287, 385, 490, 562, 594, 626, 698, 895, 952],
            [67, 152, 193, 240, 387, 435, 535, 642, 744],
            [23, 113, 67, 108, 190, 239, 307, 410, 410]
          ]
        },
        options: {
          low: 0,
          high: 1000,
          showArea: true,
          height: "245px",
          axisX: {
            showGrid: false
          },
          lineSmooth: Chartist.Interpolation.simple({
            divisor: 3
          }),
          showLine: true,
          showPoint: false
        }
      },
      activityChart: {
        data: {
          labels: [
            "Jan",
            "Feb",
            "Mar",
            "Apr",
            "Mai",
            "Jun",
            "Jul",
            "Aug",
            "Sep",
            "Oct",
            "Nov",
            "Dec"
          ],
          series: [
            [542, 543, 520, 680, 653, 753, 326, 434, 568, 610, 756, 895],
            [230, 293, 380, 480, 503, 553, 600, 664, 698, 710, 736, 795]
          ]
        },
        options: {
          seriesBarDistance: 10,
          axisX: {
            showGrid: false
          },
          height: "245px"
        }
      },
      preferencesChart: {
        data: {
          labels: [],//["62%", "32%", "6%"],
          series: []//[62, 32, 6]
        },
        options: {}
      }
    };
  }
};
</script>
<style>
</style>
