<template>
    <card class="card-map" :title="mapCard_title">
      <p>Dane stacji GSM pozyskano z pomiarów urządzenia <b>gsm-monitor-1</b>, współrzędne lokalizacji zarejestrowanych BTS <img src="@/assets/img/antenna.png"> pochodzą z publicznych baz danych https://opencellid.org/</p>
      <!-- <div class="map">
        <div id="map"></div>
      </div> -->
      <div id="l-map" style="height: 500px;"></div>
    </card>
</template>
<script>
export default {
  mounted() {

    this.loadData();
    this.loadMap();

  },
  methods: {
    loadData: function () {
      console.log("loading data..");

      var data0URL = 'http://192.168.1.155:5000/getConfig';
      fetch(data0URL).then(response => response.json())
        .then((data) => {
          //console.log(data[0]["device_lat"]);
          //console.log(data[0]["device_lon"]);
          this.device_params["name"] = data[0]["device_name"];
          //this.mapCard_title += ": " + data[0]["device_name"]
          this.device_params["lat"] = data[0]["device_lat"];
          this.device_params["lon"] = data[0]["device_lon"];

          this.reloadMapView()
          
          }
        );

      var data1URL = 'http://192.168.1.155:5000/getAllCellsFromDB';
      fetch(data1URL).then(response => response.json())
        .then((data) => {
          for (const i in data){
            data[i].date = new Date(data[i].timestamp*1000).toGMTString();
          }
          //console.log(data);
          var jsonFeatures = [];
          data.forEach(function(point){
              var lat = point.lat;
              var lon = point.lon;

              var feature = {type: 'Feature',
                  properties: point,
                  geometry: {
                      type: 'Point',
                      coordinates: [lon,lat]
                  }
              };
              jsonFeatures.push(feature);
              
          });

          //console.log(jsonFeatures);
          this.mapCard_title += " (" + jsonFeatures.length +")"

          var geojson = L.geoJson(jsonFeatures, {
            pointToLayer: function(feature, latlng) {
              return L.marker(latlng, {
                  icon: L.icon({
                    iconUrl: require('@/assets/img/antenna.png'),
                    iconSize: [40, 40],
                    iconAnchor: [20, 20],
                    popupAnchor: [0, -20]
                  })
              });
            },
            onEachFeature: function (feature, layer) {
              layer.bindPopup('<h4>GSM: ' + feature.properties.network + '</h4>' +
                  '<span>MCC: ' + feature.properties.mcc + '</span><br>' +
                  '<span>MNC: ' + feature.properties.mnc + '</span><br>' +
                  '<span>CellID (hex): ' + feature.properties.cellid_hex + '</span><br>' +
                  '<span>LAC (hex): ' + feature.properties.lac + '</span><br>' +
                  '<span>BSIC: ' + feature.properties.bsic + '</span><br>' +
                  '<span>ARFCN: ' + feature.properties.arfcn + '</span><br>' +
                  '<span>RXLEV: ' + feature.properties.rxlev + '</span><br>' +
                  '<span>Network: ' + feature.properties.network + '</span><br>' +
                  '<span>Country: ' + feature.properties.country + '</span><br>' +
                  '<span>latitude: ' + feature.properties.lat + '</span><br>' +
                  '<span>longitude: ' + feature.properties.lon + '</span><br>' +
                  '<span>found: ' + feature.properties.date + '</span><br>'
              );
            }
          }).addTo(this.lmap);

          
          this.mapcluster.addLayer(geojson);
          this.lmap.addLayer(this.mapcluster);

          this.refresh++;

          }
        );
    },
    loadMap: function () {
      require('leaflet.markercluster');

      this.lmap = L.map('l-map').setView([this.device_params["lat"], this.device_params["lon"]], 13);

      L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', {
        maxZoom: 18,
        attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, ' +
          'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
        id: 'mapbox/streets-v11',
        tileSize: 512,
        zoomOffset: -1
      }).addTo(this.lmap);

      this.mapcluster = L.markerClusterGroup();
      
    },
    reloadMapView: function() {
      //console.log("reload map view");
      this.lmap.setView([this.device_params["lat"], this.device_params["lon"]], 13);

      this.mapMarker = L.marker([this.device_params["lat"], this.device_params["lon"]]).addTo(this.lmap)
        .bindPopup("<center><b>Lokalizacja urządzenia</b><br />gsm-monitor-1</center>").openPopup();

    }
  },
  data() {
    return {
      refresh: 0,
      mapCard_title: "Mapa: urządzenie i zaobserwowane w okolicy stacje bazowe sieci GSM",
      device_params: {
        "name": "",
        "lat": 0,
        "lon": 0
      },
    }
  }
};
</script>
<style>
</style>
